* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 100%;
}

#menu {
    position: relative;
    top: 9.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    width: 9.2rem;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 2.2rem;
}

/* Página do Jogo*/

#tabuleiro {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

input {
    width: 4rem;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    margin: 2px;
    font-size: 200%;
    text-align: center;
}

#letras-erradas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.2rem;
}

#letras-erradas p {
    font-size: 150%;
    margin: 0.4rem;
}
