@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Walter Turncoat", cursive;
}

:root {
    font-size: 100%;
    --text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
        1px 1px #fff;
    --text-shadow-black: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0),
        rgb(0, 0, 0) x 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0),
        1px 1px rgb(0, 0, 0);
}

/* Pagina Incial - Menu*/

svg {
    display: flex;
    width: 100%;
    height: 25vh;
}

body {
    overflow: hidden;
    display: table;
    width: 100%;
    height: 100vh;
    background: url(../img/landing-page.jpg);
    background-size: cover;
}

path {
    fill: transparent;
}

text {
    text-align: center;
    font-weight: 1000;
    font-size: 280%;
    text-shadow: var(--text-shadow);
}

h2 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 1.2rem;
    text-shadow: var(--text-shadow);
    animation: bounceInDown;
    animation-duration: 3s;
}

#menu {
    width: 40%;
    min-width: fit-content;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(109, 78, 10, 0.5);
    animation: flipInX;
    animation-duration: 2s;
}

.buttons {
    display: flex;
    width: 20vw;
    height: 6vh;
    font-size: 115%;
    border-radius: 20px;
    border: 1px black solid;
    margin: 2.2rem auto;
    font-weight: 600;
    transition: 500ms;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: goldenrod;
}

.buttons:hover {
    background-color: darkslateblue;
    color: aliceblue;
    cursor: pointer;
}

#dificult {
    background-color: rgba(109, 78, 10, 0.9);
    border-radius: 20px;
    color: aliceblue;
}

#dificult:hover {
    cursor: pointer;
}

/* Página do Jogo*/

.screen {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-shrink: 2;
    justify-content: center;
    align-items: center;
}

#canvas {
    display: flex;
    width: 50%;
    height: 40vh;
    flex-shrink: 2;
    max-width: 1200px;
    max-height: 800px;
    min-width: 280px;
    min-height: 250px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: rgba(109, 78, 10, 0.9);
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
    animation: zoomIn;
    animation-duration: 1s;
}

#dica-teclado {
    margin: 0 auto;
    width: 45%;
    display: flex;
    font-size: 140%;
    justify-content: space-between;
    align-items: center;
}

#dica {
    color: darkred;
    font-weight: 600;
    text-shadow: var(--text-shadow);
}

#menu-btn {
    text-decoration: none;
    color: darkslateblue;
    font-weight: 600;
    text-shadow: var(--text-shadow);

}

#teclado {
    font-size: 150%;
    color: aliceblue;
}

#dica:hover,
#menu-btn:hover {
    color: goldenrod;
    cursor: pointer;
    animation: jello;
    animation-duration: 1s;
}


#teclado:hover {
    color: goldenrod;
    cursor: pointer;
    animation: jello;
    animation-delay: 6s;
    animation-duration: 1s;
}

#teclado::after {
    display: none;
    position: absolute;
    top: -5px;
    padding: 5px;
    border-radius: 20px;
    padding: 0.4rem;
    left: calc(100% + 2px);
    width: 10vw;
    content: "Para jogar, pressione uma tecla ou clique no ícone para chamar o teclado virtual";
    font-size: 45%;
    font-weight: 600;
    white-space: wrap;
    background-color: darkslateblue;
    color: aliceblue;
}

#teclado:hover::after {
    display: block;
}

#tabuleiro {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    flex-shrink: 2;
    justify-content: center;
}

input {
    display: flex;
    flex-shrink: 3;
    width: 4rem;
    color: darkred;
    text-shadow: var(--text-shadow);
    border: none;
    outline: none;
    border-bottom: 5px solid black;
    margin: 2px;
    font-size: 200%;
    font-weight: 800;
    text-align: center;
    animation: backInDown;
    animation-duration: 2.4s;
}

.input {
    visibility: hidden;
}

#letras-erradas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

#letras-erradas p {
    font-size: 135%;
    font-weight: 600;
    margin: 0.4rem;
    margin-top: 1.8rem;
    width: 2rem;
    text-align: center;
    border-radius: 50%;
    border: 4px outset goldenrod;
    animation: bounceInDown;
    animation-duration: 1s;
    transition: 500ms;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(233, 229, 0, 0.9);
}

#placeholder {
    visibility: hidden;
}

#janela-mensagem {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 3;
    bottom: 80%;
}

#venceu-perdeu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    width: 40%;
    height: 60vh;
    border-radius: 10px;
    animation: tada;
    animation-duration: 1.5s;
    transition: 2s;
}

#msg {
    order: -1;
    flex: 1 0 100%;
}

.palavra-revelada {
    font-size: 50%;
    color: darkred;
}

.perdeu {
    background: url(../img/perdeu.jpg) 50% 50%;
    background-size: cover;
}

.venceu {
    background: url(../img/venceu.jpg) 50% 50%;
    background-size: cover;
}

.modal-btns {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 20px;
    padding: 1rem;
    font-weight: 600;
    line-height: 0;
    background-color: gold;
    transition: 500ms;
}

.modal-btns:hover {
    cursor: pointer;
    background-color: darkslateblue;
    color: aliceblue;
}

#keyboard {
    display: flex;
    width: 50%;
    margin: 0 auto;
    position: sticky;
    top: 100vh;
}

.simple-keyboard {
    display: none;
    width: 50%;
    margin-top: -4rem;
    text-align: center;
    transition: 700ms;
    animation-duration: 1.4s;
}

/* Página Adiciona Palavra */

#adiciona-palavra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40%;
}

#campo-adiciona {
    color: blueviolet;
    text-align: left;
    font-size: 120%;
    width: 50%;
    height: 6vh;
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 16px;
}

#add {
    height: 6vh;
    width: 4rem;
    border-left: 5px dashed black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -5px;
    background-color: darkslateblue;
    color: #fff;
}

#add-tip,
#add-word {
    display: none;
    position: absolute;
    top: 35%;
    margin: 1.2rem auto;
    object-fit: fill;
    padding: 0.4rem;
    border-radius: 20px;
    font-size: 100%;
    font-weight: 600;
    background-color: rgb(212, 33, 33);
    color: aliceblue;
    text-align: center;
    animation-duration: 1s;
    width: 30%;
}

#add:hover {
    cursor: pointer;
    background-color: gold;
    color: black;
    transition: 300ms;
}

.flex-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/*Responsivo*/

@media screen and (max-width: 768px) {
    body {
        overflow: auto;
        background-position: 65%;
    }

    #keyboard {
        width: 100%;
        position: sticky;
        top: 100vh;
        width: 100vw;
    }

    .simple-keyboard {
        display: inline-block;
    }

    #venceu-perdeu {
        width: 75%;
    }

    #canvas {
        width: 90%;
    }

    #tabuleiro {
        width: 100%;
    }

    .modal-btns {
        width: 100%;
        line-height: 1;
    }

    #add-word,
    #add-tip {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    #menu {
        width: 70%;
    }

    .buttons {
        width: 10rem;
    }

    #canvas,
    #dica-teclado {
        width: 90%;
    }

    #dica {
        font-size: 70%;
    }

    #teclado {
        display: none;
    }

    input {
        margin: -1rem 2px;
        width: 2rem;
        height: 6vh;
    }

    #letras-erradas {
        margin: -1rem auto;
        transform: scale(0.8);
    }

    #msg {
        font-size: 200%;
    }
}